@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "tailwindcss";

html, body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0A1931;
    --secondary-color: #1F2937;
}